{% extends "base.html" %}

{% block body_block %}

<h1> Cifrado Cesar </h1>
<p>
<li><a href="/cesar/">Información</a></li>
<li><a href="/cifrarcesar/">Cifrar</a></li>
<li><a href="/descifrarcesar/">Descifrar</a></li>
</p>

<h1> Cifrado Afín </h1>
<p>
<li><a href="/afin/">Información</a></li>
<li><a href="/cifrarafin/">Cifrar</a></li>
<li><a href="/descifrarafin/">Descifrar</a></li>
</p>

<h1>Cifrado Mochila</h1>
<p>
  <li><a href="/mochila/">Información</a></li>
  <li><a href="/cifrarmochila/">Cifrar</a></li>
  <li><a href="/descifrarmochila/">Descifrar</a></li>
</p>

<h1>Cifrado RSA</h1>
<p>
  <li><a href="/rsa/">Información</a></li>
  <li><a href="/cifrarrsa/">Cifrar</a></li>
  <li><a href="/descifrarrsa/">Descifrar</a></li>
</p>

<h1>Firma digital</h1>
<p>
  <li><a href="/firma/">Información</a></li>
  <li><a href="/enviarcorreo/">Enviar correo con firma digital</a></li>
</p>


{% endblock %}
