{% extends "base.html" %}

{% block body_block %}

<h1> Sobre nosotros </h1>
<br>
<p>

Somo dos alumnos de la Universidad de Córdoba del Grado de informática.
<p>Hemos desarrollado este portal como parte de un proyecto para la asignatura Software Libre y Compromiso Social con el fin del aprendizaje de la criptografía usando software libre.

</p>
<p>
¡Empieza aquí!:
  <li><a href="/criptografia/">¿Qué es la criptografía?</a>
  <li><a href="/cifrados/">Cifrados disponibles</a>
</p>

{% endblock %}
